[data-embeddedads], [id^=google_ads_iframe], [aria-label="Ads"], .commercial-unit-desktop-top {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
